<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EasyBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <EasyBackup.Properties.Settings>
            <setting name="LastUsedBackupTemplatePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySoundsWhenFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavesToCompressedFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompressedFileUsesPassword" serializeAs="String">
                <value>False</value>
            </setting>
        </EasyBackup.Properties.Settings>
    </userSettings>
</configuration>
